*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc{
    height: 420px;
    border-radius: 15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 25px;
}

#result{
    height: 65px;
    width:255px;
    outline: none;
    border: none;
    border-radius: 15px;
    text-align: end;
    font-size: 30px;
    padding: 12px;
    background: transparent;
    background-color: #e6dcdc;
    color: black;
}

.btn>:nth-child(1){
    background-color: orange;
    border-radius: 5px;
}

.btn>:nth-child(2){
    background-color: orange;
    border-radius: 5px;
}

.btn > input{
    height: 45px;
    width: 45px;
    margin: 7.2px;
    outline: none;
    background-color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
